################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FPT_Dotnet_Practice/Test_1/ConsoleApp/ConsoleApp/ConsoleApp.csproj
