Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/FileContentIndex/9ffa3bf6-281c-44f3-b386-788b2eb5a23c.vsidx
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/FileContentIndex/89d322fb-55fe-48c5-9229-2731ef9a5968.vsidx
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/FileContentIndex/6767564a-9cad-415d-857e-4a80d12c07e6.vsidx
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/FileContentIndex/b145aaf0-c6fd-40ff-abfa-265de4677038.vsidx
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/FileContentIndex/fddcd4bc-c43f-4c90-b7d0-0a0e9c1e5363.vsidx
Test_1/OOP_Examples/.vs/OOP_Examples/DesignTimeBuild/.dtbcache.v2
Test_1/OOP_Examples/.vs/OOP_Examples/FileContentIndex/0ccb8061-fce7-472e-bcbf-bc7f4ba634ad.vsidx
Test_1/OOP_Examples/.vs/OOP_Examples/FileContentIndex/697a748b-6132-4af1-9896-1264c3b28c5b.vsidx
Test_1/OOP_Examples/.vs/OOP_Examples/FileContentIndex/ae47e69c-9c2c-45ea-8b0e-3b8fd63b3a4e.vsidx
Test_1/OOP_Examples/.vs/OOP_Examples/FileContentIndex/d7c14c0b-8d63-431e-b3e5-0e376772f4fd.vsidx
Test_1/OOP_Examples/.vs/OOP_Examples/v17/.suo
Test_1/OOP_Examples/.vs/OOP_Examples/v17/DocumentLayout.backup.json
Test_1/OOP_Examples/.vs/OOP_Examples/v17/DocumentLayout.json
Test_1/ConsoleApp/.vs/ConsoleApp/FileContentIndex/4e1b20b6-61ff-4f90-8956-82f5e164b773.vsidx
Test_1/ConsoleApp/.vs/ConsoleApp/FileContentIndex/42e92186-99db-4fba-a8b7-08e053bd3cb6.vsidx
Test_1/ConsoleApp/.vs/ConsoleApp/FileContentIndex/143c0861-697a-43b8-bc57-c887ce529a91.vsidx
Test_1/ConsoleApp/.vs/ConsoleApp/FileContentIndex/315a33d7-2949-4fed-87d1-b98ad7b72cef.vsidx
Test_1/ConsoleApp/.vs/ConsoleApp/v17/.futdcache.v2
Test_1/ConsoleApp/.vs/ConsoleApp/v17/.suo
Test_1/ConsoleApp/.vs/ConsoleApp/v17/DocumentLayout.backup.json
Test_1/ConsoleApp/.vs/ConsoleApp/v17/DocumentLayout.json
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.dll
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.exe
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.pdb
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.dll
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.exe
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.pdb
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.dll
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.exe
Test_1/ConsoleApp/ConsoleApp/bin/Debug/net9.0/ConsoleApp.pdb
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/DesignTimeBuild/.dtbcache.v2
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/v17/.futdcache.v2
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/v17/.suo
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/v17/DocumentLayout.backup.json
Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/v17/DocumentLayout.json
Test_1/Day2_ArraysBasic/.vs/ProjectEvaluation/day2_arraysbasic.metadata.v9.bin
Test_1/Day2_ArraysBasic/.vs/ProjectEvaluation/day2_arraysbasic.projects.v9.bin
Test_1/Day2_ArraysBasic/.vs/ProjectEvaluation/day2_arraysbasic.strings.v9.bin
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net7.0/Day2_ArraysBasic.deps.json
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net7.0/Day2_ArraysBasic.dll
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net7.0/Day2_ArraysBasic.exe
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net7.0/Day2_ArraysBasic.pdb
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net7.0/Day2_ArraysBasic.runtimeconfig.json
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net9.0/Day2_ArraysBasic.deps.json
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net9.0/Day2_ArraysBasic.dll
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net9.0/Day2_ArraysBasic.exe
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net9.0/Day2_ArraysBasic.pdb
Test_1/Day2_ArraysBasic/Day2_ArraysBasic/bin/Debug/net9.0/Day2_ArraysBasic.runtimeconfig.json
Test_1/FileConsoleApp/.vs/FileConsoleApp/DesignTimeBuild/.dtbcache.v2
Test_1/FileConsoleApp/.vs/FileConsoleApp/FileContentIndex/c16b5c83-bcad-446b-b469-dc1cc18b4667.vsidx
Test_1/FileConsoleApp/.vs/FileConsoleApp/v17/.futdcache.v2
Test_1/FileConsoleApp/.vs/FileConsoleApp/v17/.suo
Test_1/FileConsoleApp/.vs/FileConsoleApp/v17/DocumentLayout.backup.json
Test_1/FileConsoleApp/.vs/FileConsoleApp/v17/DocumentLayout.json
Test_1/FileConsoleApp/.vs/ProjectEvaluation/fileconsoleapp.metadata.v9.bin
Test_1/FileConsoleApp/.vs/ProjectEvaluation/fileconsoleapp.projects.v9.bin
Test_1/FileConsoleApp/.vs/ProjectEvaluation/fileconsoleapp.strings.v9.bin
Test_1/FileExamples/.vs/FileExamples/FileContentIndex/7854906b-1e79-47d7-9e4f-a73c323917cb.vsidx
Test_1/FileExamples/.vs/FileExamples/v17/.suo
Test_1/FileExamples/.vs/FileExamples/v17/DocumentLayout.backup.json
Test_1/FileExamples/.vs/FileExamples/v17/DocumentLayout.json
Test_1/OOP_Examples/.vs/OOP_Examples/v17/.futdcache.v2
Test_1/OOP_Examples/.vs/ProjectEvaluation/oop_examples.metadata.v9.bin
Test_1/OOP_Examples/.vs/ProjectEvaluation/oop_examples.projects.v9.bin
Test_1/OOP_Examples/.vs/ProjectEvaluation/oop_examples.strings.v9.bin
/C#_Student/.vs/C#_Student


/C#_Student/.vs/ProjectEvaluation
/Test_1/Day2_ArraysBasic/.vs/Day2_ArraysBasic/FileContentIndex
/Test_1/ExceptionExample/.vs
/Test_1/OOP_Examples/.vs/OOP_Examples/FileContentIndex
/Test_Final/.vs/Test_Final
